.inputContainer {
  display: flex;
}

.input {
  display: grid;
  gap: 0.4rem;
  width: 100%;

  label {
    font-size: 1.2rem;
  }

  input {
    background-color: #353535;
    padding: 0.6rem;
    font-size: 1.2rem;
    width: 100%;
    border: 3px solid transparent;

    &:hover,
    &:focus {
      background-color: #404040;
    }
  }
}
